*{
  box-sizing: border-box;
}
body{
  background: #C0D23E;
}
.container{
  display: flex;
}
header{
  background: #E15E32;
  width: 100%;
}
#titulo{
  width: 30%;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
}
.imagenTitulo{
  width: 80px;
  height: 70px;
}
nav{
  width: 70%;
  justify-content: space-around;
  align-items: center;
}
a{
  text-decoration: none;
  color: #A82743;
  font-weight: bold;
  font-size: 20px;
}
a:hover{
  color: #E5F04C;
}
#imagenes{
  justify-content: space-around;
}
.contenedorImagen{
  width: 23%;
  height: 300px;
  border: double 5px #A82743;
  margin: 3% 0;
}
.imagenPanda{
  width: 100%;
  height: 100%;
}
.cerrar{
  position: absolute;
  margin: 1%;
  color: white;
  font-size: 25px;
}
#botones{
  justify-content: space-around;
  margin: 2%;
}
.btn{
  padding: 10px 15px;
  background: #A82743;
  font-weight: bold;
  color: white;
  border: 4px solid white;
  border-radius: 10%;
}
.btn:hover{
  color: #A82743 ;
  border: 4px solid #A82743;
  background-color: white ;

}
#texto{
  justify-content: space-around;
}
.txt{
  margin: 2% 3%;
  text-align: justify;
  font-size: 20px;
}
footer{
  justify-content: center;
  background: #5C323E;
  color: white;
}
